@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Open Sans', sans-serif;
    --fonte3:'Sixtyfour', sans-serif;
    --fonte4: 'Protest Riot', sans-serif;
}
@media screen and (max-width:750px) { 
    .conteiner{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 25px !important;
      margin-left: 55px;
    }
   
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}


html, body{
    background-color: rgba(255, 0, 0, 0.925);
}
picture > img {
    width: 350px;
    height: 160px;
    margin: auto;
    padding-top: 25px;
    display: block;
    justify-content: center;

}
.conteiner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
   
    

}
.card{
   
    display: block;
    background-color:white;
    padding: 10px;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: -15px;
    width: 150px;
    border-radius: 10px;
    font-family: var(--fonte1);
   
   

}
div > img {
    width: 100px;
    padding: auto;
    margin-bottom: 10px;
    margin-top: -5px;  
}
.num{
    text-align: right;
}
.nome{
    padding: -10px;
    padding-bottom: 5px;
    padding-bottom: 5px;
}
.tipo1, .tipo2, .tipofogo{
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    
}
.tipo1{
    color: black;
    background-color: green;
    width: 60px;
    border-radius: 5px;
    margin-left: -15px;
    float: left;
    text-align: center;
    
}
.tipo2{
    color: white;
    background-color: blueviolet;
    width: 65px;
    border-radius: 5px;
    margin-left: 55px;
    text-align: center;
}
.tipofogo{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    width: 60px;
    border-radius: 5px;
    text-align: center;
    
}